/* General Styling */
body {
    background: #121212; /* Dark grey with a hint of black */
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 20px;
}

.time-card {
    font-size: 3em;
    font-weight: bold;
}

.embed-card iframe {
    width: 100%;
    border-radius: 10px;
    background: white;
}